.fs-lg {
    font-size: 4rem;
}

.fs-sm {
    font-size: 0.8rem;
}

body{
    /*background: -webkit-linear-gradient(left, #008080, black);*/
    background: white;
}

.writer {
    font-family: 'Itim', cursive;
    color: orange;
}

				                
			              